# Set the default behavior, in case people don't have core.autocrlf set:
# text files are detected and stored, and checked out, with LF line endings.
* text=auto eol=lf

# Never convert these.
*.bin binary
*.elf binary
*.pdf binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.exe binary
*.xlsx binary
*.zip binary
*.gz binary

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# Declare files that will always have LF line endings on checkout.
*.txt text eol=lf
*.md text eol=lf
*.c text eol=lf
*.css text eol=lf
*.h text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.step text eol=lf
*.clangd text eol=lf
*.clang-format text eol=lf
*.mermaid text eol=lf
sdkconfig*.* text eol=lf
